.main-about{ 
    width: 85%;
    margin-left: 205px;
    margin-top: -540px;
    position: relative;
    
}

.nav{
    padding: 10px 20px;
    font-weight: 200;
    background-color: #898B8A;
    color: #EDEDED;
}

.card-contact {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-left: 210px;
    height: 200px;
    // display: ;
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'Roboto Mono', monospace;
  }
  a{
      text-decoration: none;
      color: white;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .info{
      padding: 10px;
      font-size: small;
      font-weight: 100;
      line-height: 6px;
  }
  .hr-contact{
    border: 0;
    height: 0;
    border-top: 1px solid rgb(245, 240, 240);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: -8px;
}
.namep1{
  padding: 2px;
  line-height: 6px;
  margin-left: 95px;
  font-size: small;
  
  
}
.namep{
  margin-top: 15px;
  margin-left: 120px;
  font-size: small;
  padding-top: 10px;
}